<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css">
    script(src="js/reg.js", defer) 
    <title>Поиск музыкальных групп</title>
</head>
<body>
    <div class="main_div">
        <form class="anketa" id='reg_user'>
            <ul>
                <li> <p>Заполните поля для создания профиля</p></li>
                <li><label>
                    <p>Адрес электронной почты</p>
                    <input type="email" required id='login_user' value='ahaaaa@gmail.com'/>
                </label></li>
                <li><label>
                    <p>Пароль от аккаунта</p>
                    <input type="text" required id='password_user' value='ffff'/>
                </label></li>
                <li><label>
                    <p>имя</p>
                    <input type="text" required id='first_name' value='макс'/>
                </label></li>
                <li><label>
                    <p>фамилия</p>
                    <input type="text" required id='last_name' value='изо'/>
                </label></li>
                <li><label>
                    <p>Дата рождения</p>
                    <input type="date" required id='birthday'/>
                </label></li>
                <li><label>
                    <p>Инструмент/ты на котором вы играете</p>
                    <input type="text" required id='musical_instrument' value='бас'/>
                </label></li>
                <li><label>
                    <p>Сколько лет вы играете</p>
                    <input type="number" required id='experience' value=2/>
                </label></li>
                <li><label>
                    <p>Город в котором вы живете</p>
                    <input type="text" required id='city' value='красно'/>
                </label></li>
                <button style="margin-top: 35px;" >Создать аккаунт</button>
            </ul>
        </form>
    </div>
    <div class="footer_info">
        <p>Контакты для связи:</p>
        <p>Assdad@gmail.ruuu     88005553555</p>
    </div>
</body>
</html>