/* Поместите панель навигации внизу страницы и сделайте так, чтобы она прилипала */
.navbar {
  background-color: #0e1a2f;
  overflow: hidden;
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  bottom: 0;
} 

/* Стиль ссылок внутри панели навигации */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 30px;
  border: solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Изменить цвет ссылок при наведении */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Добавьте цвет к активной / текущей ссылке */
.navbar a.active {
  background-color: #14557d;
  color: white;
}

body {
  margin: 0px;
  background-color: black;
}

.myImg {
  margin-bottom: 0px;

}
img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer_info {
  background-color: black; 
}

.footer_info p{
  margin: 0px;
  color: #ddd;
  font-size: 20px;
  height: 40px;
}
